* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: fantasy, sans-serif;
    color: beige;
}

body {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, #2469b8, #24b87f);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container > h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	align-items: center;
}

button {
    cursor: pointer;
    outline: none;
    background-color: rgba(25, 5, 63, 0.5);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 1.3rem;
    transition: background-color 0.5s ease;
}

button:hover {
  color: white;
  background-color: rgba(5, 3, 29, 0.75);
}

.filters {
    margin:20px 0;
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.filters > input {
    margin: 5px;
}

.filters > input:last-child {
    margin-right: 0;
}

.filters > label {
    color: rgb(58, 28, 3);
}

.filters > input[type=text] {
    outline: none;
    border: 1px solid rgba(25, 5, 63, 0.75);
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgba(25, 5, 63, 0.5);
    width: 100px;
    max-width: fit-content;
}

#joke {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(6, 66, 6);
    margin-bottom: 30px;
    animation: blink .6s linear 5;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: small;
    background-color: rgba(6, 6, 80, 0.7);
}

footer a, footer span {
    color: gold;
}

footer a:hover, footer span:hover {
    color: goldenrod;
}